<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Expense Tracker</a>
      
      <!-- Notification and Profile icons for mobile -->
      <div class="d-flex d-lg-none order-1 ms-auto">
        <a class="btn btn-link text-light position-relative" routerLink="/notifications">
          <i class="bi bi-bell-fill"></i>
          @if (false) {
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  3
              </span>
          }
        </a>
        <a class="btn btn-link text-light position-relative">
          <i class="bi bi-person-circle"></i>
        </a>
      </div>

      <!-- Hamburger menu -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation links -->
      <div class="collapse navbar-collapse order-3" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/overview" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/transactions" 
               routerLinkActive="active">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/budget" 
               routerLinkActive="active">Budgets</a>
          </li>
        </ul>
      </div>

      <!-- Notification and Profile icons for desktop -->
      <div class="d-none d-lg-flex order-4">
        <a class="btn btn-link text-light position-relative" routerLink="/notifications">
          <i class="bi bi-bell-fill"></i>
          @if (false) {
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  3
              </span>
          }
        </a>
        <div class="dropdown">
          <button class="btn btn-link text-light dropdown-toggle" 
                  type="button" 
                  id="profileDropdown" 
                  data-bs-toggle="dropdown" 
                  aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><button class="dropdown-item">Logout</button></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>